<div class="wpm-custom-gradient p-6 rounded-lg shadow-md">
  <div class="contenedor">
    <h1 class="text-2xl font-bold text-center mb-4">Órdenes de Trabajo</h1>

    <div class="flex justify-between items-center mb-4 flex-wrap gap-4">
      <div class="flex flex-wrap gap-4">
        <!-- Formulario de Búsqueda por RUT Cliente -->
        <form class="search-form flex items-center gap-2" (submit)="filterOrdersByRutCliente()">
          <input type="text" placeholder="Buscar por RUT Cliente" [(ngModel)]="searchRutCliente"
            (input)="filterOrdersByRutCliente()" class="search-input p-2 border rounded" name="rut_cliente" />
          <button type="submit" class="search-btn p-2 bg-blue-500 text-white rounded">Buscar</button>
        </form>
        <form class="search-form" (submit)="filterOrdersByEquipo()">
          <input type="text" placeholder="Buscar equipo por número de serie" [(ngModel)]="searchEquipo"
            (input)="filterOrdersByEquipo()" class="search-input" name="num_equipo" />
          <button type="submit" class="search-btn">Buscar</button>
        </form>
      </div>
      <!-- Select de Servicios -->
      <div class="flex items-center gap-2">
        <label for="filter" class="font-medium">Todos los servicios</label>
        <select #filterSelect class="p-2 border rounded" [(ngModel)]="selectedServicio"
          (change)="filterOrdersByServicio(selectedServicio)" title="Filtrar por servicio">
          <option value="todos">Todos</option>
          <option *ngFor="let servicio of servicios" [value]="servicio.nom_serv">{{ servicio.nom_serv }}</option>
        </select>
        <!-- Select de Usuarios -->
        <div class="flex items-center gap-2">
          <label for="filter" class="font-medium">Todos los usuarios</label>
          <select #filterSelect class="p-2 border rounded" [(ngModel)]="selectedUsuario"
            (change)="filterOrdersByUsuario(selectedUsuario)" title="Filtrar por usuario">
            <option value="todos">Todas</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.nom_usu">{{ usuario.nom_usu }} {{usuario.ap_usu}}
            </option>
          </select>
        </div>
      </div>

      <!-- Select de Mes y Año -->
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <label for="monthSelect" class="font-medium">Mes</label>
          <select #monthSelect class="p-2 border rounded"
            (change)="filterOrdersByMonthYear(+monthSelect.value, +yearSelect.value)" title="Filtrar por mes">
            <option value="0">Todos</option>
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
        </div>

        <div class="flex items-center gap-2">
          <label for="yearSelect" class="font-medium">Año</label>
          <select #yearSelect class="p-2 border rounded"
            (change)="filterOrdersByMonthYear(+monthSelect.value, +yearSelect.value)" title="Filtrar por año">
            <option value="0">Todos</option>
            <option *ngFor="let year of years">{{ year }}</option>
          </select>
        </div>
      </div>
    </div>


    <table class="w-full border-collapse">
      <thead>
        <tr>
          <th class="border p-2">Fecha</th>
          <th class="border p-2">OT ID</th>
          <th class="border p-2">Descripción</th>
          <th class="border p-2">Equipo</th>
          <th class="border p-2">Costo</th>
          <th class="border p-2">Rut Cliente</th>
          <th class="border p-2">Servicio</th>
          <th class="border p-2">Estado</th>
          <th class="border p-2">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let newOrder of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td>{{ newOrder.fecha }}</td>
          <td>{{ newOrder.id_ot }}</td>
          <td>{{ newOrder.descripcion }}</td>
          <td>{{ newOrder.Equipo.mod_equipo }}</td>
          <td>{{ newOrder.costo }}</td>
          <td>{{ newOrder.rut_cliente }}</td>
          <td>{{ newOrder.Servicio.nom_serv }}</td>
          <td>{{ newOrder.EstadoOT.tipo_est }}</td>
          <td>{{ newOrder.Usuario.nom_usu }}</td>
          <td>
            <button type="button" (click)="aprobarOT(newOrder.id_ot)"
              class="bg-green-500 text-white px-2 py-1 rounded-md">✅</button>
          </td>
        </tr>
      </tbody>
    </table>


    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>