WorkProManager/FRONT/.angular/cache/18.2.3/vite/deps/_metadata.json
WorkProManager/FRONT/.angular/cache/18.2.3/WorkProManager/.tsbuildinfo
WorkProManager/FRONT/.angular/cache/18.2.3/vite/deps/@angular_core.js
WorkProManager/FRONT/.angular/
/WorkProManager/FRONT/.angular
WorkProManager/FRONT/.angular/cache/18.2.3/vite/deps/_metadata.json
_metadata.json
WorkProManager/FRONT/.angular/cache/18.2.3/vite/deps_ssr/_metadata.json
WorkProManager/FRONT/.angular/cache/18.2.3/WorkProManager/.tsbuildinfo
.tsbuildinfo
node_modules
/WorkProManager/BACK/dist
