_metadata.json
WorkProManager/FRONT/.angular/
WorkProManager/FRONT/.angular/
.tsbuildinfo
node_modules
/WorkProManager/BACK/dist
node_modules/
/dist/
/node_modules
/dist
/tmp
/out-tsc
/bazel-out
.tsbuildinfo
node_modules/
.config.ts
/config.ts
WorkProManager/BACK/dist/db/connection.js
WorkProManager/BACK/dist/models/server.js
