<div class="wpm-custom-gradient p-6 rounded-lg shadow-md">
  <div class="contenedor">
    <h1 class="text-2xl font-bold text-center mb-4">Crear Reporte</h1>
    
    <form (ngSubmit)="onSubmit()" #reporteForm="ngForm">
      <div class="mb-4">
        <label for="titulo" class="block font-medium">Título:</label>
        <input type="text" id="titulo" class="w-full p-2 border rounded" [(ngModel)]="nuevoReporte.titulo" name="titulo" required>
      </div>

      <div class="mb-4">
        <label for="descripcion" class="block font-medium">Descripción:</label>
        <textarea id="descripcion" class="w-full p-2 border rounded" [(ngModel)]="nuevoReporte.descripcion" name="descripcion" required></textarea>
      </div>

      <div class="mb-4">
        <label for="usuario" class="block font-medium">Usuario:</label>
        <select id="usuario" class="w-full p-2 border rounded" [(ngModel)]="nuevoReporte.usuario" name="usuario" required>
          <option value="">Seleccione un usuario</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.rut_usuario">{{ usuario.nom_usu }} {{ usuario.ap_usu }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="servicio" class="block font-medium">Servicio:</label>
        <select id="servicio" class="w-full p-2 border rounded" [(ngModel)]="nuevoReporte.servicio" name="servicio" required>
          <option value="">Seleccione un servicio</option>
          <option *ngFor="let servicio of servicios" [value]="servicio.id_serv">{{ servicio.nom_serv }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="fecha" class="block font-medium">Fecha:</label>
        <input type="date" id="fecha" class="w-full p-2 border rounded" [(ngModel)]="nuevoReporte.fecha" name="fecha" required>
      </div>

      <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Crear Reporte</button>
    </form>
  </div>
</div>