<div class="flex-3 ml-64 p-8">
  <h1 class="text-2xl font-bold text-center mb-4">Órdenes de Trabajo</h1>



  <div class="flex justify-between items-center mb-4">
    
    <div>
      <label for="filter" class="mr-2 font-medium">Todas las OT</label>
      <select #filterSelect class="p-2 border rounded">
        <option value="todas">Todas</option>
        <option value="en solicitud">En solicitud</option>
        <option value="pendiente">Pendiente</option>
        <option value="finalizado">Finalizado</option>

      </select>

      <button [routerLink]="['/orders/new-ot']" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 new-ot-butt" [routerLink]="['/orders/new-ot']">
        + Nueva
      </button>
      <div></div>

      <div>
        <label for="filter" class="mr-2 font-medium">Todos los usuarios</label>
        <select #filterSelect class="p-2 border rounded" [(ngModel)]="selectedUsuario">
          <option value="todos">Todas</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.nom_usu">{{ usuario.nom_usu }} {{usuario.ap_usu}}</option>
        </select>
      </div>
      
      <div>
        <label for="monthSelect" class="mr-2 font-medium">Mes</label>
        <select #monthSelect class="p-2 border rounded">
          <option value="0">Todos</option>
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>

        <label for="yearSelect" class="ml-4 mr-2 font-medium">Año</label>
        <select #yearSelect class="p-2 border rounded">
          <option value="0">Todos</option>
          <option *ngFor="let year of years">{{ year }}</option>
        </select>
      </div>
      <form class="search-form">
        <input
          type="text"
          placeholder="Buscar por RUT Cliente"
          [(ngModel)]="searchRutCliente"
          class="search-input"
          name="rut_cliente"
        />
        <button type="submit" class="search-btn">Buscar</button>
      </form>

      <form class="search-form">
        <input
          type="text"
          placeholder="Buscar equipo por número de serie"
          [(ngModel)]="searchEquipo"
          class="search-input"
          name="num_equipo"
        />
        <button type="submit" class="search-btn">Buscar</button>
      </form>



    </div>

  </div>

  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="border p-2">ID OT</th>
        <th class="border p-2">ID Servicio</th>
        <th class="border p-2">Fecha detalle</th>
        <th class="border p-2">Descripción</th>
        <th class="border p-2">Usuario</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalleOT of filteredDetalles | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{ detalleOT.id_ot }}</td>
        <td>{{ detalleOT.id_serv }}</td>
        <td>{{ detalleOT.fecha_detalle }}</td>
        <td>{{ detalleOT.desc_detalle }}</td>
        <td>{{ detalleOT.rut_usuario }}</td>
        <td>
          <button [routerLink]="['createReport/', detalleOT.id_ot]">✏️</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
