.caja-glass {
    background-color: rgba(255, 255, 255, 0.7) !important;
    /* Controla la transparencia (0.0 a 1.0) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    -webkit-backdrop-filter: blur(10px);
    /* Agrega un desenfoque detrás del formulario para Safari */
    backdrop-filter: blur(10px);
    /* Agrega un desenfoque detrás del formulario */
    border-radius: 10px;
    /* Opcional, para bordes más redondeados */
}

/* Aumentar z-index del modal */
.fixed {
    z-index: 50;
    /* Aumenta el índice z para asegurar que esté sobre otros elementos */
}

/* Fondo del modal */
.bg-white {
    opacity: 0.95;
    /* Asegúrate de que el fondo sea visible */
}