<div class="wpm-custom-gradient p-6 rounded-lg shadow-md">
    <div class="contenedor">
        <h1 class="text-2xl font-bold text-center mb-4">Servicios</h1>
        <div class="flex justify-between items-center mb-4">
            <form [formGroup]="serviciosForm" (ngSubmit)="onSubmit()">
                <input formControlName="nom_serv" type="text" id="nom_serv" class="p-2 rounded border border-gray-300 flex-grow" placeholder="Ingresa Servicio" required>
                <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
                    + Nueva
                </button>
            </form>
            
        </div>

        <table class="w-full border-collapse">
            <thead>
                <tr class="col-start-auto">
                    <th class="border p-2">Nombre</th>
                    <th class="border p-2">Total de servicios adjudicados a OT</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of servicios | paginate : { itemsPerPage: itemsPerPage, currentPage: page }">
                    <td>{{ servicio.nom_serv }}</td>
                    <td>{{servicio.vista_count_ot_por_servicio?.total_ot ?? 0}}</td>
                    <td>
                        <button (click)="servicio.id_serv !== undefined ? deleteServicio(servicio.id_serv) : null">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="flex justify-center mt-4">
            <pagination-controls (pageChange)="onPageChange($event)" class="mt-4"
            previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>