<div class="wpm-custom-gradient p-6 rounded-lg shadow-md">
  <div>
    <h1 class="text-2xl font-bold text-center mb-4">Órdenes de trabajo</h1>
  </div>

  <div class="flex flex-col items-center mb-4">
    <div class="contenedor w-full max-w-4xl">
      <div class="buscador_container mb-4">
        <i class="fa-solid fa-magnifying-glass buscador_icon"></i>
        <input class="buscador w-full" id="buscador" type="text" placeholder="Buscar OT">
      </div>
      <button (click)="toggleFilters()" class="boton-wpm text-white p-2 rounded mb-4 flex items-center w-full justify-center">
        <mat-icon>filter_list</mat-icon>
        <span class="ml-2">{{ showFilters ? 'Ocultar Filtros' : 'Mostrar Filtros' }}</span>
      </button>

      <div *ngIf="showFilters" class="filters-container p-4 border rounded mb-4">
        <h2 class="filters-title text-lg font-semibold mb-4">Filtros</h2>
        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por estado</h3>
          <select class="filter-select w-full p-2 border rounded" title="Filtrar por estado">
            <option value="todas">Todas las ordenes de trabajo</option>
            <option value="pendiente">Pendiente de cotización</option>
            <option value="en proceso">Aprobación de la cotización</option>
            <option value="incompleto">En proceso</option>
            <option value="completo">Completada</option>
            <option value="finalizado">Finalizada</option>
            <option value="rechazado">Rechazada</option>
          </select>
        </div>

        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por usuario</h3>
          <select class="filter-select w-full p-2 border rounded" title="Filtrar por usuario">
            <option value="">Todos los usuarios</option>
            <option value="usuario1">Usuario 1</option>
            <option value="usuario2">Usuario 2</option>
          </select>
        </div>

        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por Fecha</h3>
          <div class="date-filters flex space-x-4">
            <div class="date-filter w-1/2">
              <label for="monthSelect" class="block text-sm font-medium mb-1">Mes</label>
              <select id="monthSelect" class="filter-select w-full p-2 border rounded">
                <option value="0">Todos</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
              </select>
            </div>
            <div class="date-filter w-1/2">
              <label for="yearSelect" class="block text-sm font-medium mb-1">Año</label>
              <select id="yearSelect" class="filter-select w-full p-2 border rounded">
                <option value="0">Todos</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
              </select>
            </div>
          </div>
        </div>

        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por Cliente</h3>
          <input type="text" placeholder="Buscar por RUT Cliente" class="search-input w-full p-2 border rounded" />
        </div>

        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por Usuario</h3>
          <input type="text" placeholder="Buscar por RUT Usuario" class="search-input w-full p-2 border rounded" />
        </div>

        <div class="filter-group mb-4">
          <h3 class="filter-header text-sm font-medium mb-2">Filtrar por Equipo</h3>
          <input type="text" placeholder="Buscar equipo por número de serie" class="search-input w-full p-2 border rounded" />
        </div>
      </div>

      <div class="overflow-x-auto">
        <table class="w-full border-collapse">
          <thead>
            <tr>
              <th class="border p-1 text-center">N° de orden</th>
              <th class="border p-1 text-center">Fecha de creación</th>
              <th class="border p-1 text-center">Fecha de término</th>
              <th class="border p-1 text-center">Número de serie</th>
              <th class="border p-1 text-center">Estado</th>
              <th class="border p-1 text-center">Nombre del cliente</th>
              <th class="border p-1 text-center">Dirección del cliente</th>
              <th class="border p-1 text-center">Teléfono del cliente</th>
              <th class="border p-1 text-center">Email del cliente</th>
              <th class="border p-1 text-center">RUT del cliente</th>
              <th class="border p-1 text-center">Tipo de equipo</th>
              <th class="border p-1 text-center">Modelo del equipo</th>
              <th class="border p-1 text-center">Fecha y hora de asignación</th>
              <th class="border p-1 text-center">Notas de asignación</th>
              <th class="border p-1 text-center">RUT del técnico</th>
              <th class="border p-1 text-center">Nombre del técnico</th>
              <th class="border p-1 text-center">Rol del técnico</th>
              <th class="border p-1 text-center">Tiempo restante</th>
              <th class="border p-1 text-center">Descripción</th>
              <th class="border p-1 text-center">Detalles Adicionales</th>
              <th class="border p-1 text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orden of OrdenTrabajo" class="align-middle text-center">
              <td class="border p-1">{{ orden.id_ot }}</td>
              <td class="border p-1">{{ formatDate(orden.fec_creacion) }}</td>
              <td class="border p-1">{{ formatDate(orden.fec_ter) }}</td>
              <td class="border p-1">{{ orden.num_ser }}</td>
              <td class="border p-1">{{ orden.EstadoOT.nom_estado }}</td>
              <td class="border p-1">{{ orden.Cliente?.nom_cli ?? 'No disponible' }} {{ orden.Cliente?.ape_cli ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Cliente?.dir_cli ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Cliente?.tel_cli ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Cliente?.email_cli ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Cliente?.rut_cli ?? 'No disponible' }} - {{ orden.Cliente?.d_ver_cli ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Equipo.tip_equ }}</td>
              <td class="border p-1">{{ orden.Equipo.mod_equ }}</td>
              <td class="border p-1">{{ orden.Asignacions?.[0]?.fecha_asig ? formatAsignacionDate(orden.Asignacions?.[0]?.fecha_asig ?? '') : 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Asignacions?.[0]?.notas_asig ?? 'No disponible' }}</td>
              <td class="border p-1">{{ orden.Asignacions?.[0]?.tecnico?.rut_trab ?? 'No disponible' }} - {{ orden.Asignacions?.[0]?.tecnico?.d_veri_trab ?? 'No disponible' }}</td>
              <td class="border p-1">
                {{ orden.Asignacions?.[0]?.tecnico?.nom_trab ?? 'No disponible' }} {{ orden.Asignacions?.[0]?.tecnico?.ape_trab ?? 'No disponible' }}
              </td>
              <td class="border p-1">
                <app-cronometro [fechaPlazo]="orden.fec_ter"></app-cronometro>
              </td>
              <td class="border p-1">{{ orden.desc_ot }}</td>
              <td class="border p-1">{{ orden.det_adic }}</td>
              <td class="border p-1">
                <button class="bg-blue-500 text-white p-1 rounded" title="Descargar PDF"><i class="fa-solid fa-download"></i></button>
                <button class="bg-yellow-500 text-white p-1 rounded" title="Editar Orden" [routerLink]="['/ordenes', orden.id_ot]"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="bg-red-500 text-white p-1 rounded" title="Rechazar Orden"><i class="fa-solid fa-xmark"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center mt-4">
        <pagination-controls [id]="'1'" [maxSize]="5" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>
</div>