<div class="flex-1 justify-center px-72 py-6">
  <div class="main max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <p class="text-md text-gray-600 mb-4">
      Completa el siguiente formulario para crear un nuevo reporte.
    </p>

    <form class="space-y-6" [formGroup]="reportForm" (ngSubmit)="createReport()">
      <div class="mt-4">
        <label for="id_usuario">Nombre del usuario: 7</label>
        <input type="text" id="id_usuario" [value]="7" class="border border-gray-300 p-2 rounded" readonly />
      </div>

      <div class="mt-4">
        <label for="id_ot" formControlName="id_ot">ID de OT: {{ id_ot_from_api }} </label>
        <input type="text" id="id_ot" class="border border-gray-300 p-2 rounded" [value]="id_ot_from_api" readonly />
      </div>

      <div class="mt-4">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" formControlName="fecha" class="border border-gray-300 p-2 rounded" [disabled]="true" />
      </div>

      <div class="mt-4">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcion" rows="4" class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500" placeholder="Añade una descripción detallada del reporte..." readonly></textarea>
      </div>

      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" [disabled]="true">
          Crear Reporte
        </button>
      </div>
    </form>
  </div>
</div>
