<div class="form-floating mb-3">
    <label for="user">Usuario: </label>
    <input
        type="text"
        class="form-control"
        name="user"
        id="user"
        placeholder=""
    />
</div>

<div class="mb-3">
    <label for="" class="form-label">Contraseña: </label>
    <input
        type="password"
        class="form-control"
        name="contra"
        id="contra"
        placeholder=""
    />
</div>

<div>
    <button type="submit">Iniciar Sesión</button>
</div>

<div>
    <button type="submit">¿Ólvido su contraseña?</button>
</div>
