<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="form-floating mb-3">
        <label for="user">Usuario: </label>
        <input
            type="text"
            class="form-control"
            name="user"
            id="user"
            placeholder=""
        />
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Contraseña: </label>
        <input
            type="password"
            class="form-control"
            name="contra"
            id="contra"
            placeholder=""
        />
    </div>
    
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
    
    <div>
        <a href="/WorkProManager/FRONT/src/app/reset-password/reset-password.component.html">¿Olvido su contraseña?</a>
    </div>    
</body>
</html>