<div class="flex-1 justify-center px-72 py-6">
  <div class="contenedor">
    <div class="main max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h3 class="text-2xl font-semibold text-gray-700">{{ operacion }} una Orden de Trabajo</h3>
      <br><br>
      <!-- Leyenda de descripción -->
      <p class="text-md text-gray-600 mb-4">
        Completa el siguiente formulario para crear una nueva Orden de Trabajo. Asegúrate de proporcionar todos los
        detalles requeridos.
      </p>

      <form class="space-y-6" [formGroup]="form" (ngSubmit)="addProduct()">

        <div class="mt-4">
          <label for="fecha">Fecha de Entrega:</label>
          <input type="date" id="fecha" formControlName="fecha" class="border border-gray-300 p-2 rounded" />
        </div>
  
        <p class="text-2xl font-semibold text-gray-700">{{ operacion }} una Orden de Trabajo</p>
  
        
        <!-- Descripción de la OT -->
        <div>
          <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
          <textarea
            id="descripcion"
            formControlName="descripcion"
            rows="4"
            class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            placeholder="Añade una descripción detallada de la Orden de Trabajo..."
          ></textarea>
        </div>
  

      <!-- Detalle Cliente -->
      <fieldset class="border border-gray-200 p-4 rounded-lg">
        <legend class="text-lg font-semibold">Detalle Cliente</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre" 
              title="Nombre del cliente"
              placeholder="Ingrese el nombre del cliente"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('nombre')" class="text-red-500 text-sm">Nombre obligatorio.</div>
          </div>
          <div>
            <label for="client-lastname" class="block text-sm font-medium text-gray-700">Apellido</label>
            <input
              type="text"
              id="apellido"
              formControlName="apellido"
              title="Apellido del cliente"
              placeholder="Ingrese el apellido del cliente"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('apellido')" class="text-red-500 text-sm">Apellido obligatorio.</div>
          </div>
          <div>
            <label for="rut_cliente" class="block text-sm font-medium text-gray-700">Run</label>
            <input
              type="text"
              id="rut_cliente"
              formControlName="rut_cliente"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('rut_cliente')" class="text-red-500 text-sm">Ingrese rut valido</div>
          </div>
          <div class="w-16">
            <label for="dv_cliente" class="block text-sm font-medium text-gray-700">DV</label>
            <input
              type="text"
              id="d_veri_cli"
              formControlName="d_veri_cli"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
              maxlength="1"
              placeholder="K"
            />
            <div *ngIf="isFieldInvalid('d_veri_cli')" class="text-red-500 text-sm">Ingrese dígito verificador</div>
          </div>
          <div>
            <label for="correo" class="block text-sm font-medium text-gray-700">Correo</label>
            <input
              type="email"
              id="correo"
              formControlName="correo" 
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('email')" class="text-red-500 text-sm">Ingrese un Correo</div>
          </div>
          <div>
            <label for="celular" class="block text-sm font-medium text-gray-700">Teléfono</label>
            <input
              type="tel"
              id="celular"
              formControlName="celular"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('tel')" class="text-red-500 text-sm">Ingrese número de teléfono</div>
          </div>
        </div>
      </fieldset>

      <!-- Detalle Equipo -->
      <fieldset class="border border-gray-200 p-4 rounded-lg">
        <legend class="text-lg font-semibold">Detalle Equipo</legend>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
         
          <div>
            <label for="mod_equipo" class="block text-sm font-medium text-gray-700">Modelo</label>
            <input
              type="text"
              id="mod_equipo"
              formControlName="mod_equipo"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
          </div>

          <div>
            <label for="tipos">Selecciona el tipo de equipo:</label>
            <select id="id_tipo" title="Selecciona el tipo de equipo" formControlName="id_tipo" (change)="onTipoChange($event)">
              <option value="">Seleccione el tipo de equipo</option> <!-- Opción por defecto -->
              
              <!-- Iteramos sobre la lista de marcas obtenidas y cargadas en el componente -->
              <option *ngFor="let tipo of tipos" [value]="tipo.id_tipo">
                {{ tipo.nom_tipo }} <!-- Mostramos el nombre de la marca -->
              </option>
            </select>
          </div>

          <div>
            <label for="marcas">Selecciona una marca:</label>
            <select id="id_marca" title="Selecciona una marca" formControlName="id_marca" (change)="onMarcaChange($event)">
              <option value="">Seleccione una marca</option> <!-- Opción por defecto -->
              
              <!-- Iteramos sobre la lista de marcas obtenidas y cargadas en el componente -->
              <option *ngFor="let marca of marcas" [value]="marca.id_marca">
                {{ marca.nom_marca }} <!-- Mostramos el nombre de la marca -->
              </option>
            </select>
          </div>
         
          <div>
            <label for="num_equipo" class="block text-sm font-medium text-gray-700">S/N</label>
            <input
              type="text"
              id="num_equipo"
              formControlName="num_equipo"
              title="Número de serie del equipo"
              placeholder="Ingrese el número de serie del equipo"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
            <div *ngIf="isFieldInvalid('num_equipo')" class="text-red-500 text-sm">Ingrese S/N del equipo</div>
          </div>
          <div>
            <label for="device-manufacture-date" class="block text-sm font-medium text-gray-700">Fecha de fabricación</label>
            <input
              type="date"
              id="fec_fabric"
              formControlName="fec_fabric"
              title="Fecha de fabricación del equipo"
              placeholder="Ingrese la fecha de fabricación"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
            />
          </div>
        </div>
      </fieldset>

      <!-- Sección de Servicios -->

     <fieldset class="border border-gray-200 p-4 rounded-lg">
      <legend class="text-lg font-semibold">Servicios</legend>
    
      <div>
        <label for="servicio">Selecciona un Servicio:</label>
        <select id="servicio" [(ngModel)]="servicioSeleccionado" (change)="onServicioChange($event)">
          <option value="">Seleccione un servicio</option>
          <option *ngFor="let servicio of servicios" [value]="servicio.id_serv">
            {{ servicio.nom_serv }}
          </option>
        </select>
    
        <fieldset>
          <div>
           <button (click)="agregarServicio($event)" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600">
             Añadir Servicio
           </button>
         </div>
       
         <!-- Lista de servicios añadidos -->
         <div *ngIf="serviciosSeleccionados.length > 0">
           <h3>Servicios Añadidos:</h3>
           <ul>
             <li *ngFor="let servicio of serviciosSeleccionados">
               {{ servicio.nom_serv }}
               <!-- Botón para eliminar un servicio de la lista -->
               <button type="button" (click)="eliminarServicio($event, servicio)" class="text-red-500 ml-4">Eliminar</button>
             </li>
           </ul>
         </div>
         </fieldset>

    <!-- Usuario -->

      <fieldset class="border border-gray-200 p-4 rounded-lg">
        <legend class="text-lg font-semibold">Usuario</legend>
        
        <div>
          <label for="usuarios">Selecciona un Usuario:</label>
          <select id="rut_usuario" formControlName="rut_usuario" (change)="onUserChange($event)">
            <option value="">Seleccione un usuario</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.rut_usuario" formControlName="usuario.rut_usuario">
              {{ usuario.nom_usu }} {{usuario.ap_usu}}
            </option>
          </select>
        </div>
        
        <div *ngIf="selectedUsuarioName !== null">
          <p>Precio del usuario seleccionado: <strong>{{ selectedUsuarioName }} {{ selectedUsuarioSurname }}</strong></p>
        </div>
          
      </fieldset>

      <fieldset>


        <div>
            <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
            <textarea
              id="descripcion"
              formControlName="desc_sol"
              rows="4"
              class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
              placeholder="Añade una descripción detallada de la Orden de Trabajo..."
            ></textarea>
          </div>
        
    </fieldset>
      

      <!-- Botón para enviar el formulario -->
      <div class="flex justify-end mt-4">
        <button
        click="onSubmit($event)"
          type="submit"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600"
          >
        {{ isSubmitting ? 'Guardando...' : 'Guardar Orden de Trabajo' }} 
      </button>
      </div>
