<div class="min-h-screen bg-cover bg-center">
  <div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md animate__bounce" id="resetPasswordForm">
      <div class="flex justify-center">
        <div class="w-full">
          <form class="caja-glass bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="onSubmit()"
            #resetForm="ngForm" autocomplete="off">
            <div class="pt-6 space-y-4"></div>
            <div class="text-center">
              <figure>
                <img src="https://i.imgur.com/iCsPKkR.png" alt="WPM" class="w-32 mx-auto">
              </figure>
              <div class="pt-6 space-y-4"></div>
              <p class="text-lg font-semibold text-gray-800">Restablecer Contraseña</p>
            </div>
            <div class="pt-6 space-y-4"></div>
            <div class="mb-4">
              <label class="block text-gray-800 text-sm font-bold mb-2">RUT</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 pl-10 pr-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text" id="rut_trab" name="rut_trab" [(ngModel)]="resetData.rut_trab" #rut="ngModel" required
                pattern="\d{7,8}-[\dkK]" placeholder="11111111-1" />
              <div class="text-red-500 text-xs italic" *ngIf="rut.invalid && (rut.dirty || rut.touched)">
                <span *ngIf="rut.errors?.['required']">El RUT es requerido.</span>
                <span *ngIf="rut.errors?.['pattern']">Por favor, introduce un RUT válido.</span>
              </div>
            </div>

            <div class="mb-4">
              <label class="block text-gray-800 text-sm font-bold mb-2">Nueva Contraseña</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 pl-10 pr-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" id="password" name="password" [(ngModel)]="resetData.newPassword" #password="ngModel"
                required minlength="8" placeholder="********" />
              <div class="text-red-500 text-xs italic" *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password.errors?.['required']">La contraseña es requerida.</span>
                <span *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</span>
              </div>
            </div>

            <div class="mb-6">
              <label class="block text-gray-800 text-sm font-bold mb-2">Confirmar Contraseña</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 pl-10 pr-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetData.confirmNewPassword"
                #confirmPassword="ngModel" required placeholder="********" />
              <div class="text-red-500 text-xs italic" *ngIf="passwordsDoNotMatch">
                Las contraseñas no coinciden.
              </div>
            </div>

            <div class="text-red-500 text-xs italic" *ngIf="rutInvalido">
              El RUT ingresado no corresponde a ningún usuario registrado.
            </div>

            <div class="flex items-center justify-center mt-4">
              <button type="submit" [disabled]="resetForm.invalid || passwordsDoNotMatch"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">
                Restablecer Contraseña
              </button>
            </div>
            <div class="text-center mt-4">
              <a routerLink="/login" class="text-blue-500 hover:underline">Volver al inicio de sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>