<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
        <label for="email">Correo Electrónico:</label>
        <input type="email" name="email" id="email" ngModel #email="ngModel" required placeholder="Introduce tu correo electrónico">
        <div *ngIf="email.invalid">
            El Correo Electrónico debe ser válido.
        </div>
        <button type="submit" [disabled]="resetForm.invalid">Enviar</button>
    </form>
</body>
</html>
