<div class="modal-backdrop" (click)="closeModal($event)"></div>
<div class="modal-content bg-yellow-500 text-blue-700 p-6 rounded-lg shadow-md">
  <div class="header-ot flex justify-between items-center">
    <h2 class="text-2xl font-semibold">Historial de la Orden de Trabajo</h2>
    <button class="btn-cerrar bg-blue-500 text-white font-bold py-1 px-3 rounded hover:bg-blue-600" (click)="closeModal($event)">X</button>
  </div>
  
  <!-- Contenido con desplazamiento -->
  <div class="modal-body">
    <div class="solicitud-card" *ngFor="let solicitud of solicitudes">
      <div class="solicitud-header">
        <p><strong>ID de Solicitud:</strong> {{ solicitud.id_sol }}</p>
        <p><strong>ID de OT:</strong> {{ solicitud.id_ot }}</p>
      </div>
      
      <div class="solicitud-dates">
        <div class="date-item">
          <strong>Fecha de Vista:</strong>
          <span>{{ getFormattedDate(solicitud.fecha_vista) }}</span>
        </div>
        <div class="date-item">
          <strong>Fecha de Emisión:</strong>
          <span>{{ getFormattedDate(solicitud.fecha_emision) }}</span>
        </div>
        <div class="date-item">
          <strong>Fecha de Término:</strong>
          <span>{{ getFormattedDate(solicitud.fecha_termino) }}</span>
        </div>
        <div class="date-item">
          <strong>Fecha Plazo:</strong>
          <span>{{ getFormattedDate(solicitud.fecha_plazo) }}</span>
        </div>
      </div>

      <div class="solicitud-description">
        <p><strong>Descripción:</strong> {{ getDescription(solicitud.desc_sol) }}</p>
        <p><strong>Estado de OT:</strong> {{ solicitud.EstadoOT?.nom_estado_ot }}</p>
      </div>
    </div>
  </div>

  
</div>
