<div class="wpm-custom-gradient p-6 sm:p-4 lg:p-8 rounded-lg shadow-md">
    <div class="contenedor px-4 sm:px-6 lg:px-8">
      <div class="main max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <!-- Leyenda de descripción -->
        <p class="text-md text-gray-600 mb-4">
          Completa el siguiente formulario para crear una nueva Orden de Trabajo. Asegúrate de proporcionar todos los
          detalles requeridos.
        </p>
  
        <form class="space-y-6 sm:space-y-4 lg:space-y-8" [formGroup]="form" (ngSubmit)="editProduct()">
          <div class="mt-4">
            <label for="fecha" class="block text-sm font-medium text-gray-700 mb-2">Fecha y Hora de Entrega:</label>
            <div class="relative">
              <input
                type="datetime-local"
                id="fecha"
                formControlName="fecha"
                class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500 appearance-none bg-white"
                [min]="fechaHoy"
                (change)="validateDateTime($event)"
              />
            </div>
          </div>
  
          <p class="text-2xl font-semibold text-gray-700">{{ operacion }} una Orden de Trabajo</p>
  
          <!-- Descripción -->
          <fieldset class="border border-gray-200 p-4 rounded-lg">
            <legend class="text-lg font-semibold">Descripción de la orden de trabajo</legend>
            <div>
              <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
              <textarea
                id="descripcion"
                formControlName="descripcion"
                rows="4"
                class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                placeholder="Añade una descripción detallada de la Orden de Trabajo..."
              ></textarea>
            </div>
          </fieldset>
  
          <!-- Detalle Cliente -->
          <fieldset class="border border-gray-200 p-4 rounded-lg">
            <legend class="text-lg font-semibold">Detalle Cliente</legend>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
              <div>
                <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                <input
                  type="text"
                  id="nombre"
                  formControlName="nombre"
                  placeholder="Ingrese el nombre del cliente"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
                <span
                  *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')"
                  class="text-red-500 text-sm"
                >El nombre es obligatorio.</span>
              </div>
              <div>
                <label for="apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
                <input
                  type="text"
                  id="apellido"
                  formControlName="apellido"
                  placeholder="Ingrese el apellido del cliente"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
                <span
                  *ngIf="form.get('apellido')?.touched && form.get('apellido')?.hasError('required')"
                  class="text-red-500 text-sm"
                >El apellido es obligatorio.</span>
              </div>
              <div>
                <label for="rut_cliente" class="block text-sm font-medium text-gray-700">Run</label>
                <input
                  type="text"
                  id="rut_cliente"
                  formControlName="rut_cliente"
                  placeholder="11111111"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
                <span
                  *ngIf="form.get('rut_cliente')?.touched && form.get('rut_cliente')?.hasError('required')"
                  class="text-red-500 text-sm"
                >El rut es obligatorio.</span>
              </div>
              <div>
                <label for="correo" class="block text-sm font-medium text-gray-700">Correo</label>
                <input
                  type="email"
                  id="correo"
                  formControlName="correo"
                  placeholder="correo.ejemplo@gmail.com"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
              </div>
            </div>
          </fieldset>
  
          <!-- Detalle Equipo -->
          <fieldset class="border border-gray-200 p-4 rounded-lg">
            <legend class="text-lg font-semibold">Detalle Equipo</legend>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
              <div>
                <label for="mod_equipo" class="block text-sm font-medium text-gray-700">Modelo</label>
                <input
                  type="text"
                  id="mod_equipo"
                  formControlName="mod_equipo"
                  placeholder="Ingrese modelo del equipo"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
              </div>
              <div>
                <label for="num_equipo" class="block text-sm font-medium text-gray-700">S/N</label>
                <input
                  type="text"
                  id="num_equipo"
                  formControlName="num_equipo"
                  placeholder="Ingrese el número de serie del equipo"
                  class="block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-blue-500"
                />
              </div>
            </div>
          </fieldset>
  
          <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md shadow-md"
          >
            Guardar Orden de Trabajo
          </button>
        </form>
      </div>
    </div>
  </div>
  