.contenedor {
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.wpm-custom-gradient {
  background: linear-gradient(to right, #0046ad, #ffe600);
  padding: auto;
  margin-left: 290px;
  margin-right: 30px;
  border-radius: 8px;
}
