<div class="flex-3 ml-64 p-8 md:flex-row flex-col">
  <nav class="relative flex items-center justify-between px-6 py-2 shadow-none bg-custom-gradient rounded-2xl">
    <div class="flex items-center justify-between w-full">
      <!-- Botón Volver a la izquierda -->
      <div class="flex items-center space-x-4">
        <button type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 focus:outline-none"
          (click)="goBack()">Volver</button>
      </div>

      <!-- Breadcrumbs y Título en el centro -->
      <div class="flex flex-col items-center">
        <ol class="flex text-white opacity-50">
          <!-- Recorre los breadcrumbs para mostrarlos dinámicamente -->
          <li *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
            <a *ngIf="!isLast; else lastCrumb" href="#">{{ breadcrumb | titlecase }}</a>
            <ng-template #lastCrumb>
              <span class="italic-text">{{ breadcrumb | titlecase }}</span>
            </ng-template>
            <span *ngIf="!isLast">/</span>
          </li>
        </ol>
        <h6 class="font-bold text-white">
          {{ breadcrumbs[breadcrumbs.length - 1] | titlecase }}
        </h6>
      </div>

      <!-- Botón Perfil y Cerrar Sesión a la derecha -->
      <div class="flex items-center space-x-4">
        <a [routerLink]="['./profile/']" class="text-sm font-semibold texto-azul flex items-center">
          <i class="fa fa-user mr-1"></i> Perfil
        </a>
        <!-- Botón Cerrar Sesión -->
        <button class="flex px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors duration-300"
          (click)="logout()" title="Cerrar sesión">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </nav>
  <br><br>
</div>