<div class="flex-3 ml-64 p-8">
  <nav class="relative flex items-center justify-between px-6 py-2 shadow-none bg-custom-gradient rounded-2xl">
    <div class="flex items-center justify-between w-full">
      <div>
        <ol class="flex space-x-2 text-white opacity-50">
          <!-- Recorre los breadcrumbs para mostrarlos dinámicamente -->
          <li *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
            <a *ngIf="!isLast; else lastCrumb" href="#">{{
              breadcrumb | titlecase
              }}</a>
            <ng-template #lastCrumb>
              <span class="italic-text">{{ breadcrumb | titlecase }}</span>
            </ng-template>
            <span *ngIf="!isLast">/</span>
          </li>
        </ol>
        <h6 class="font-bold text-white">
          {{ breadcrumbs[breadcrumbs.length - 1] | titlecase }}
        </h6>
      </div>

      

        <a [routerLink]="['./profile/']" class="text-sm font-semibold texto-azul flex items-center">
          <i class="fa fa-user mr-1"></i> Perfil
        </a>
      </div>

 
  </nav>
  <br><br>

  <div class="flex justify-between items-center p-6">
    <button type="submit"
      class="px-6 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 focus:outline-none"
      (click)="goBack()"> Volver</button>

    <button 
      class="flex items-center px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors duration-300"
      (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      Cerrar Sesión
    </button>
  </div>

</div>