<div class="wpm-custom-gradient p-6 rounded-lg shadow-md">
  <div class="contenedor">
    <div *ngIf="authService.getUserId() as rut">
      <p>Bienvenido, usuario con RUT: {{ rut }}</p>
      <h1 class="text-2xl font-bold text-center mb-4">Reportes</h1>
    </div>

  <div class="flex justify-between items-center mb-4">
    <div class="filtros">
      <h2 class="text-xl font-semibold mb-4 cursor-pointer" (click)="isFiltrosOpen = !isFiltrosOpen">Filtros</h2>
      <div *ngIf="isFiltrosOpen">
        <!--filtro por estado-->
        <div class="filtro">
          <h3 (click)="isEstadoOpen = !isEstadoOpen">Filtrar por estado</h3>
          <div *ngIf="isEstadoOpen">
            <select #filterSelect class="p2 border rounded" (change)="filterOrdersByStatus(filterSelect.value)">
              <option value="todas">Todas</option>
              <option value="pendiente">Pendiente</option>
              <option value="en proceso">En proceso</option>
              <option value="incompleto">incompleto</option>
              <option value="completo">completo</option>
              <option value="finalizado">finalizado</option>
              <option value="rechazado">rechazado</option>
            </select>
          </div>
        </div>

        <!--filtro por usuario-->
        <div class="filtro">
          <h3 (click)="isUsuarioOpen = !isUsuarioOpen">Filtrar por usuario</h3>
          <div *ngIf="isUsuarioOpen">
            <select #filterSelect class="p2 border rounded" [(ngModel)]="selectedUsuario" (change)="filterOrdersByUsuario(selectedUsuario)">
              <option *ngFor="let usuario of usuarios" [value]="usuario.nom_usu"> {{ usuario.nom_usu}} {{ usuario.ap_usu}}</option>
            </select>
          </div>
        </div>

        <!--filtro por fecha-->
        <div class="filtro">
          <h3 (click)="isFechaOpen = !isFechaOpen">Filtrar por Fecha</h3>
          <div *ngIf="isFechaOpen">
            <label for="monthSelect" class="mr-2 font-medium">Mes</label>
            <select #monthSelect class="p-2 border rounded" (change)="filterOrdersByMonthYear(+monthSelect.value, +yearSelect.value)">
              <option value="0">Todos</option>
              <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
            </select>
            <label for="yearSelect" class="ml-4 mr-2 font-medium">Año</label>
            <select #yearSelect class="p-2 border rounded" (change)="filterOrdersByMonthYear(+monthSelect.value, +yearSelect.value)">
              <option value="0">Todos</option>
              <option *ngFor="let year of years">{{ year }}</option>
            </select>
          </div>
        </div>

        <!--filtro por cliente-->
        <div class="filtro">
          <h3 (click)="isClienteOpen = !isClienteOpen">Filtrar por Cliente</h3>
          <div *ngIf="isClienteOpen">
            <form class="search-form" (submit)="filterOrdersByRutCliente()">
              <input
                type="text"
                placeholder="Buscar por RUT Cliente"
                [(ngModel)]="searchRutCliente"
                (input)="filterOrdersByRutCliente()"
                class="search-input"
                name="rut_cliente"
              />
              <button type="submit" class="search-btn">Buscar</button>
            </form>
          </div>
        </div>

        <!--filtro por equipo-->
        <div class="filtro">
          <h3 (click)="isEquipoOpen = !isEquipoOpen">Filtrar por Equipo</h3>
          <div *ngIf="isEquipoOpen">
            <form class="search-form" (submit)="filterOrdersByEquipo()">
              <input
                type="text"
                placeholder="Buscar equipo por número de serie"
                [(ngModel)]="searchEquipo"
                (input)="filterOrdersByEquipo()"
                class="search-input"
                name="num_equipo"
              />
              <button type="submit" class="search-btn">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="border p-2 text-center">Fecha de entrega</th>
        <th class="border p-2 text-center">Número de serie</th>
        <th class="border p-2 text-center">Número de orden</th>
        <th class="border p-2 text-center">Modelo del equipo</th>
        <th class="border p-2 text-center">Rut cliente</th>
        <th class="border p-2 text-center">Estado</th>
        <th class="border p-2 text-center">Usuario</th>
        <th class="border p-2 text-center">Fecha de plazo</th>
        <th class="border p-2 text-center">Solicitud Vista</th>
        <th class="border p-2 text-center">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let newOrder of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: page }"
        [ngClass]="{ 'text-red-600': newOrder.VistaSolicitud.isview == false }"
        class="align-middle text-center"
      >
        <td class="border p-2">{{ newOrder.fec_entrega }}</td>
        <td class="border p-2">{{ newOrder.num_equipo }}</td>
        <td class="border p-2">{{ newOrder.id_ot }}</td>
        <td class="border p-2">{{ newOrder.Equipo.mod_equipo }}</td>
        <td class="border p-2">{{ newOrder.rut_cliente }}</td>
        <td class="border p-2">{{ newOrder.VistaSolicitud.nom_estado_ot }}</td>
        <td class="border p-2">{{ newOrder.Usuario.nom_usu }}</td>
        <td class="border p-2">
          <app-cronometro 
            [fechaPlazo]="newOrder.VistaSolicitud.fecha_plazo | date:'yyyy-MM-ddTHH:mm:ss'"
          ></app-cronometro>
        </td>
        <td class="border p-2">
          <span *ngIf="newOrder.VistaSolicitud.isview">✅</span>
          <span *ngIf="!newOrder.VistaSolicitud.isview">⚠️</span>
        </td>
        <td class="border p-2">
          <button (click)="generatePDF(newOrder)" class="bg-blue-500 text-white p-1 rounded">🖨️</button>

          <button [routerLink]="['createReport/', newOrder.id_ot]">✏️</button>
          <div *ngIf="authService.getUserRole() === 3">
            <button *ngIf="newOrder.id_ot !== undefined" (click)="openEstadoModal(newOrder.id_ot)">📄</button>
          </div>
          <div>
            <button class="bg-red-500 text-white p-2 rounded hover:bg-red-600" 
                    (click)="openRejectionModal(newOrder.id_ot ?? 0)">
              ❌
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  

  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>


  <!-- Modal de rechazo -->
<div *ngIf="isRejectionModalOpen" class="modal-overlay">
  <div class="modal-content" [formGroup]="rejectionForm">
    <h2 class="text-xl font-bold mb-4">Elige la causa de rechazo</h2>

    <!-- Selector de causa de rechazo -->
    <div class="mb-4">
      <label class="block text-sm font-medium mb-2">Causa de rechazo:</label>
      <select 
        formControlName="id_rechazo" 
        #estadoSelect
        class="w-full p-2 mb-4 border rounded"
        (change)="onCausaChange($event, selectedOtId!)">
        <option value="">Seleccione una causa</option>
        <option *ngFor="let causa of causasRechazo" [value]="causa.id_rechazo">
          {{ causa.nombre_rechazo }}
        </option>
      </select>
    </div>

    <!--Descripción-->
    <div class="mb-4">
      <label class="block text-sm font-medium mb-2">Descripción:</label>
      <textarea 
        id="observaciones"
        [formGroup]="rejectionForm"
        formControlName="observaciones"
        class="w-full p-2 border rounded resize-none"
        rows="3"
        placeholder="Ingrese una descripción del cambio de estado...">
      </textarea>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end gap-2">
      <button 
        class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300"
        (click)="closeRejectionModal()">
        Cancelar
      </button>
      <button 
        class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
        type="submit"
        (click)="confirmRejection(selectedOtId!)">
        Confirmar
      </button>
    </div>
  </div>
</div>

  <div *ngIf="isEstadoModalOpen" class="modal-overlay">
    <div class="modal-content" [formGroup]="form">
      <h2 class="text-xl font-bold mb-4">Selecciona un estado</h2>
      
      <!--Selector de nuevo estado-->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Estado: </label>
        <select formControlName="id_estado_ot"
          #estadoSelect 
          class="w-full p-2 mb-4 border rounded"
          (change)="onUserChange($event, selectedOtId!)">
          <option value="">Seleccione un estado</option>
          <option *ngFor="let estado of estados" [value]="estado.id_estado_ot" formControlName="id_estado_ot">
            {{ estado.nom_estado_ot }}
          </option>
        </select>
      </div>

      <!--Descripción-->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Descripción:</label>
        <textarea 
          id="desc_sol"
          [formGroup]="form"
          formControlName="desc_sol"
          class="w-full p-2 border rounded resize-none"
          rows="3"
          placeholder="Ingrese una descripción del cambio de estado...">
        </textarea>
      </div>

      <!--Fecha de plazo-->
      <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Fecha Plazo:</label>
        <input 
          [min]="fechaHoy"  
          type="date"
          [formGroup]="form"
          formControlName="fecha_plazo"
          placeholder="Añada una descripción"
          class="w-full p-2 border rounded">
      </div>

      <div class="mb-4" >
        <label class="block text-sm font-medium mb-2">Rut Receptor:</label>
        <input 
          type="number"
          [formGroup]="form"
          formControlName="rut_receptor"
          placeholder="Añada una descripción"
          class="w-full p-2 border rounded">
      </div>







      <!--botones-->
      <div class="flex justify-end gap-2">
        <button 
          class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300"
          (click)="closeEstadoModal()">
          Cancelar
        </button>
        <button 
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          type="submit"
          (click)="confirmChangeEstado(selectedOtId!)">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>


