<div class="flex-3 ml-64 p-6">
  <div class="flex flex-wrap px-6 py-6 space-x-6" *ngIf="authService.getUserRole() === 1 || authService.getUserRole() === 3">
    <!-- Filtro por periodo de tiempo -->
    <div class="bg-white rounded-2xl shadow-xl p-4 w-1/4">
      <p class="uppercase text-sm font-semibold text-gray-500">Filtrar por periodo de tiempo</p>
      <div class="flex space-x-4">
        <!-- Botones para seleccionar el filtro: día, mes, o año -->
        <button class="btn-filter" (click)="onFilterChange('day')">Día</button>
        <button class="btn-filter" (click)="onFilterChange('month')">Mes</button>
        <button class="btn-filter" (click)="onFilterChange('year')">Año</button>
      </div>
    </div>

    <!-- Total de órdenes activas -->
    <div class="bg-white rounded-2xl shadow-xl p-4 w-1/4">
      <p class="uppercase text-sm font-semibold text-gray-500">Total de OT en el periodo de tiempo</p>
      <h5 class="font-bold">{{ countTotalActivas }}</h5>
    </div>

    <!-- Total de órdenes por completar -->
    <div class="bg-white rounded-2xl shadow-xl p-4 w-1/4">
      <p class="uppercase text-sm font-semibold text-gray-500">Total de OT por completar</p>
      <h5 class="font-bold">{{ countTotal }}</h5>
    </div>

    <!-- Total de órdenes eliminadas -->
    <div class="bg-white rounded-2xl shadow-xl p-4 w-1/3">
      <p class="uppercase text-sm font-semibold text-gray-500">Órdenes eliminadas en el periodo de tiempo</p>
      <h5 class="font-bold">{{ countEliminadas }}</h5>
    </div>
  </div>

  <div><app-graficox-mes></app-graficox-mes>   </div>

</div>
